<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Отладка: стенд эмулятора по HTTP. Релиз этого не получает. -->
    <application
        android:networkSecurityConfig="@xml/network_security_config_debug"
        tools:replace="android:usesCleartextTraffic"
        android:usesCleartextTraffic="false" />
</manifest>
